$script = <<SCRIPT
cp -r /home/vagrant/.ssh /root/.
SCRIPT

Vagrant.configure(2) do |config|
  config.vm.box = "{{ provider_conf.box }}"
  config.vm.provision "shell", inline: $script
{% if provider_conf.config_extra|length %}
  {{ provider_conf.config_extra | safe }}
{% endif %}
  {% for machine in machines %}
  config.vm.define "{{ machine.name }}" do |my|
    my.vm.hostname = "{{ machine.name }}"
    {% for ip in machine.ips %}
    my.vm.network :private_network, ip: "{{ ip }}", auto_config: true
    {% endfor %}

    my.vm.provider :virtualbox do |vb|
      vb.cpus={{ machine.cpu }}
      vb.memory={{ machine.mem }}
    end

    my.vm.provider :libvirt do |lv|
      lv.cpus={{ machine.cpu }}
      lv.memory={{ machine.mem }}
      lv.nested = true
    end
  end
  {% endfor %}
end
